.bgc-orange {
  background-color: #f60; }

.color-orange {
  color: #f60; }

.bgc-blue {
  background-color: #23a1f1; }

.color-blue {
  color: #23a1f1; }

.wrap-content {
  position: relative; }

.header {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 105px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  border-top: 3px solid #f05123;
  background-color: rgba(255, 255, 255, 0.95); }
  .header--content {
    display: flex; }
  .header__a {
    flex-basis: auto;
    flex-grow: 0;
    overflow: hidden; }
    .header__a img {
      height: 105px;
      overflow: hidden;
      padding: 10px 0; }
  .header--menu .first-row {
    align-items: center;
    height: 54px; }
    .header--menu .first-row .fl-end {
      align-items: center;
      height: 100%; }
    .header--menu .first-row .text-name {
      font-size: 1.3em;
      font-weight: bold;
      color: #f60; }
    .header--menu .first-row ul li {
      font-size: 13px;
      margin: 0 10px; }
  .header--menu .secon-row {
    height: 46px; }
    .header--menu .secon-row .fl-end {
      align-items: center;
      height: 100%; }
      .header--menu .secon-row .fl-end .ul-menu .li-menu {
        font-size: 13px;
        margin: 0; }
        .header--menu .secon-row .fl-end .ul-menu .li-menu.li-menu-1:hover .ul-sub-menu {
          display: block; }
        .header--menu .secon-row .fl-end .ul-menu .li-menu.li-menu-2:hover .absolute {
          display: block; }
        .header--menu .secon-row .fl-end .ul-menu .li-menu:hover .a-menu {
          background-color: #f60;
          color: #fff; }
        .header--menu .secon-row .fl-end .ul-menu .li-menu > a {
          text-transform: uppercase;
          padding: 5px 10px; }
          .header--menu .secon-row .fl-end .ul-menu .li-menu > a .tip-arrow {
            color: #fff;
            font-size: 9px;
            padding: 2px;
            position: relative;
            line-height: 1;
            margin-left: 3px;
            border-radius: 2px;
            margin-right: 5px; }
            .header--menu .secon-row .fl-end .ul-menu .li-menu > a .tip-arrow.tip-green {
              background-color: #0cc485; }
            .header--menu .secon-row .fl-end .ul-menu .li-menu > a .tip-arrow.tip-red {
              background-color: #eb2771; }
      .header--menu .secon-row .fl-end .ul-menu .li-icon-home {
        background-color: #f60; }
        .header--menu .secon-row .fl-end .ul-menu .li-icon-home i {
          margin: 5px 0;
          color: #fff;
          font-size: 13px; }
      .header--menu .secon-row .fl-end .ul-menu .ul-sub-menu.ul-sub-1 {
        position: absolute;
        top: 25px;
        left: 0;
        display: none;
        min-width: 240px;
        padding: 5px 0;
        background-color: #f60;
        list-style: none; }
        .header--menu .secon-row .fl-end .ul-menu .ul-sub-menu.ul-sub-1 li {
          display: list-item;
          padding: 5px 12px; }
          .header--menu .secon-row .fl-end .ul-menu .ul-sub-menu.ul-sub-1 li:hover {
            background-color: #e65d00; }
            .header--menu .secon-row .fl-end .ul-menu .ul-sub-menu.ul-sub-1 li:hover a {
              color: #333; }
          .header--menu .secon-row .fl-end .ul-menu .ul-sub-menu.ul-sub-1 li a {
            color: #fff;
            font-size: 13px; }
      .header--menu .secon-row .fl-end .ul-menu .container.absolute {
        width: 1140px;
        padding: 7px 0;
        display: none; }
        .header--menu .secon-row .fl-end .ul-menu .container.absolute .ul-sub-menu {
          position: relative;
          z-index: 99;
          width: 100%;
          list-style: none;
          background-color: #e65d00;
          border-radius: 3px;
          box-shadow: 0px 0px 1px 1px #fff;
          color: #fff; }
          .header--menu .secon-row .fl-end .ul-menu .container.absolute .ul-sub-menu.bgc-white {
            background-color: #fff;
            box-shadow: 0px 0px 1px 1px #333; }
          .header--menu .secon-row .fl-end .ul-menu .container.absolute .ul-sub-menu > li {
            display: list-item;
            list-style: none;
            padding: 15px 15px;
            color: #fff; }
            .header--menu .secon-row .fl-end .ul-menu .container.absolute .ul-sub-menu > li .ul-secon-sub {
              position: relative; }
              .header--menu .secon-row .fl-end .ul-menu .container.absolute .ul-sub-menu > li .ul-secon-sub li {
                display: list-item;
                box-sizing: content-box;
                padding: 8px 0;
                list-style: none;
                color: #fff;
                margin: 7px 0;
                border-bottom: 2px solid #e65d00; }
                .header--menu .secon-row .fl-end .ul-menu .container.absolute .ul-sub-menu > li .ul-secon-sub li:hover {
                  border-bottom-color: #797979; }
                  .header--menu .secon-row .fl-end .ul-menu .container.absolute .ul-sub-menu > li .ul-secon-sub li:hover a {
                    color: #fff; }
                .header--menu .secon-row .fl-end .ul-menu .container.absolute .ul-sub-menu > li .ul-secon-sub li.border-bottom {
                  border-bottom: 2px solid #5d5d5d; }
                .header--menu .secon-row .fl-end .ul-menu .container.absolute .ul-sub-menu > li .ul-secon-sub li a {
                  display: block;
                  color: #fff;
                  font-size: 14px; }
                  .header--menu .secon-row .fl-end .ul-menu .container.absolute .ul-sub-menu > li .ul-secon-sub li a.a-noti {
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #000; }
      .header--menu .secon-row .fl-end a.signin {
        min-width: 95px;
        background-color: #f60;
        align-self: flex-end;
        position: relative;
        color: #fff;
        text-align: center;
        padding: 10px 0px 5px;
        border-radius: 2px;
        margin-left: 20px;
        z-index: 1;
        margin-bottom: -5px; }
        .header--menu .secon-row .fl-end a.signin span {
          color: #fff;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 16px; }
        .header--menu .secon-row .fl-end a.signin p {
          margin-bottom: 0;
          font-size: 13px;
          font-weight: 500; }
        .header--menu .secon-row .fl-end a.signin svg {
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: 5px; }
          .header--menu .secon-row .fl-end a.signin svg path {
            fill: #f60; }

.footer {
  padding-bottom: 30px; }
  .footer--item {
    color: #fff;
    line-height: 1.7; }
    .footer--item h3 {
      color: #fff;
      border-bottom: solid orange 2px;
      text-align: center; }
      .footer--item h3 span {
        border-bottom: solid #fff 2px; }
    .footer--item p {
      margin-bottom: 0; }

.modal-signin {
  width: 410px; }
  .modal-signin h4 {
    margin: 5px 0 15px; }
  .modal-signin .modal-content {
    background-color: #f68a47;
    color: #fff;
    position: relative; }
    .modal-signin .modal-content button {
      margin-top: 20px; }
    .modal-signin .modal-content .span-close-modal {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      color: #fff;
      font-size: 26px;
      padding: 6px;
      line-height: 0.6;
      cursor: pointer; }

.signin-bottom {
  position: fixed;
  border-radius: 2px;
  bottom: -580px;
  left: 40px;
  background-color: #f68a47;
  color: #fff;
  width: 300px;
  z-index: 999; }
  .signin-bottom.active {
    bottom: 0; }
  .signin-bottom--tittle {
    position: relative; }
    .signin-bottom--tittle span {
      display: block; }
      .signin-bottom--tittle span.span-tittle {
        font-weight: 700;
        padding: 0 42px 0 16px;
        line-height: 42px;
        vertical-align: middle;
        word-wrap: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 300px; }
      .signin-bottom--tittle span.absolute {
        position: absolute;
        top: 0;
        right: 0;
        padding: 12px;
        line-height: 0.5; }
        .signin-bottom--tittle span.absolute i {
          font-size: 18px; }
  .signin-bottom--content {
    border-top: 1px solid #868686c7;
    padding: 15px; }
    .signin-bottom--content label {
      font-weight: 400; }
    .signin-bottom--content button {
      color: #f68a47;
      font-weight: 700; }

/*# sourceMappingURL=modules.css.map */
