@import "mixin";
@import "variable";
.index-cont{

}
.span-red{
  &:before{}
  float: left;
  margin-right: 20px;
  font-size: 12px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  position: relative;
  color: #fff;
  &:before{
    content: '';
    position: absolute;
    right: 5px;
    bottom: 5px;
    background: #f05123;
    width: 14px;
    height: 14px;
    border-radius: 2px;
    -webkit-transition: all .2s cubic-bezier(0.680,0,.265,1);
    transition: all .2s cubic-bezier(0.680,0,.265,1);
  }
  &:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    background-color: #f05123;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    -webkit-transition: all .2s cubic-bezier(0.680,0,.265,1);
    transition: all .2s cubic-bezier(0.680,0,.265,1);
  }
  &>span{
    position: relative;
    z-index: 1;
  }
}
.border-dot{
  border-bottom: 1px dotted rgba(0,0,0,0.3);
  overflow: hidden;
  line-height: 60px;
  height: 55px;
  margin: 0 0 30px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.slideshow{
  position: relative;
  &--threeitem{
    height: 80vh;
    display: flex;
    position: relative;
    margin-left: -8vh;
    margin-right: -8vh;
  }
  &--item{
    float: left;
    position: relative;
    flex: 1;
    z-index: 0;
    .first-transform{
      box-shadow: 0 0 0 5px rgba(255,255,255,.7);
      transform: skewX(-10deg);
      transition: box-shadow .2s ease-out;
      height: 100%;
      position: absolute;
      width: 100%;
      overflow: hidden;
    }
    .secon-transform{
      margin-left: -8vh;
      margin-right: -8vh;
      transform: skewX(10deg);
      position: relative;
      //-webkit-backface-visibility: hidden;
      height: 100%;
      img{
        object-fit: cover;
        overflow: hidden;
        text-align: center;
        max-width: 100%;
        vertical-align: middle;
        height: 100%;
        transition: .2s ease-out;
      }
      .box-shadow{
        position: absolute;
        left: 0;
        top: 50%;
        right: 0;
        bottom: 0;
        -webkit-transition: opacity .15s ease-out;
        transition: opacity .15s ease-out;
        opacity: 0.5;
        background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,1) 100%);
      }
    }
  }

  &__content{
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
  }
  &__caption{
    position: absolute;
    bottom: 90px;
    color: #fff;
    z-index: 1;
    width: 100%;
    padding: 0 80px;
    h5{
      position: relative;
      font-size: 18px;
      line-height: 1.3;
      font-weight: 600;
      color: #fff;
      margin: 0;
      padding: 13px 0 13px 45px;
      text-align: right;
      &:before{
        content: "";
        position: absolute;
        height: 100%;
        border-radius: 4px;
        padding-right: 35px;
        display: block;
        right: -35px;
        bottom: 0;
        left: 0;
        top: 0;
        z-index: -1;
        background: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,.45) 80%);
        transform: skewX(-10deg);
      }
    }
    .btn-caption{
      transform: skewX(-10deg);
      clear: both;
      background-color: #f05123;
      margin-top: 30px;
      margin-right: 20px;
      padding: 10px 20px;
      line-height: 1.6;
      font-size: 13px;
      font-weight: 700;
      text-align: center;
      cursor: pointer;
      //border-style: solid;
      border-radius: 3px;
      transition: background-color .15s ease-out;
      vertical-align: middle;
      max-width: 300px;
      &:focus{
        background-color: #cd2122;
      }

      &:before{
        background-color: #cd2122;
      }
      a{
        color: #fff;
      }
    }
  }
  &__borderbot{
    z-index: 2;
    border-bottom: 6px solid #fff;
    background: radial-gradient(ellipse at 50% 100%,rgba(0,0,0,.3) 0,transparent 70%);
    height: 12px;
    position: absolute;
    width: 100%;
    left: 0;
    pointer-events: none;
    bottom: 0;
  }
}

.numberinfo{
  z-index: 5;
  padding-top: 35px;
  padding-bottom: 15px;
  position: relative;
  &--content{
    margin-top: -100px;
    padding-top: 1%;
    background-color: #fff;
    .col-sm-1-5{
      width: 20%;
      float: left;
    }
  }
  &--item{
    text-align: center;
    padding: 30px 30px 0px;
    h3{
      font-size: 5.61052rem;
      font-weight: 700;
      line-height: 1;
      color: #f05123;
      margin: 0 auto;
    }
    p{
      text-transform: uppercase;
      margin-bottom: 20px;
    }
  }
}

.about{
  background-color: #ccc3;
  &--tittle{
    h4{
      color: #f05123;
    }
  }
  &__text{
    text-align: justify;
    ul{
      padding: 0 0 0px 30px;
      list-style-position: outside;
      list-style-type: square ;
      li{
        display: list-item;
        margin: 5px 0;
      }
    }
  }
  &__img{
    img{
      width: 100%;
      height: auto;
    }
  }
}

.educate{
  &--tittle{
    h4{
      color: #f05123;
    }
  }
  &__img{
    .three-item{
      width: 100%;
      text-align: center;
      .item{
        margin-bottom: 30px;
        &:last-child{
          margin-bottom: 0px;
        }
        a{
          img{
            max-width: 100%;
            height: auto;
          }
        }
      }
    }
  }
  &__text{
    line-height: 1.5;
  }
}

.feature{
  background-color: #ccc3;
  .feature__img{
    img{
      max-width: 100%;
    }
  }
  .feature__text{
    text-align: justify;
    h5{
      font-size: 18px;
      line-height: 27px;
      font-weight: 700;
    }
    ul{
      padding: 0 0 0px 30px;
      list-style-position: outside;
      list-style-type: square ;
      li{
        display: list-item;
        margin: 5px 0;
      }
    }
  }
}

.event{
  margin-bottom: 35px ;
  &:last-child{
    margin-bottom: 0;
  }
  &--tittle{

  }
  &--content{
    h6{
      font-size: 18px;
      line-height: 1.4;
      color: #f05123;
      margin-bottom: 20px;
    }

  }
  &__item{
    img{
      width: 100%;
    }
    &>a{
      position: relative;
      display: block;
      margin-bottom: 10px;
      p{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        display: none;
        align-items: center;
        justify-content: center;
        transition: all 2s ease;
        background-color: rgba(0,0,0,0.3);
        i{
          font-size: 20px;
          color: #fff;
        }
      }
      span{
        display: block;
        position: absolute;
        left: -10px;
        bottom: 10px;
        padding: 10px;
        background-color: #f05123;
        color: #fff;
      }
    }
    
    .time{
      color: #aaaaaa;
      a{
        color: #000;
      }
    }
    .tittle{
      a{
        color: #000;
        font-style: italic;
        font-size: 16px;
        line-height: 1.4;
      }
    }

  }
}

.media{
  background-color: #ccc3;
  &--content{
    .item{
      margin:10px 0 20px;
      a{
        display: block;
        width: 100%;
        img{
          width: 100%;
        }
      }
    }
  }
}

.patner{
  &--content{

  }
  &--item{


    .item-details{
      border: 1px solid #ccc;
      padding: 10px;

      .slide-patner{
        width: 80%;
        float: left;
        img{
          margin: 0 auto;
        }
      }
      .tittle{
        width: 20%;
        float: left;
        font-size: 18px;
        position: relative;
        line-height: 1.2;
        color: #000;
        p{
          margin-bottom: -5px;
        }
        &:after{
          content: '';
          position: absolute;
          bottom: -15px;
          left: 0;
          width: 60px;
          height: 3px;
          background: #333;
        }
      }
    }
    
    
  }
}


//INTRODUCE
.introduce{
  position: relative;
  &--abs{
    position: absolute;
    top: 0;
    left: 0;
  }
  &--bgc{
    width: 100%;
    height: auto;
    max-height: 300px;
  }
  &--link{
    width: 100%;
    //height: 400px;
    padding-top: 170px;
    padding-bottom: 50px;
    ul{
      position: relative;
      li{
        line-height: 1.5;
        font-size: 13px;
        padding: 7px 10px 6px;
        background: rgba(0,0,0,.8);
        margin-bottom: 2px;
        text-transform: uppercase;
        float: left;
        a{
          color: #eee;
        }
        &:last-child{
          &:before{
            position: relative;
            z-index: 9;
            border: 4px solid transparent;
            content: "";
            height: 0;
            width: 0;
            pointer-events: none;
            display: inline-block;
            border-left-color: #fff;
            margin: 0 5px;
            border-left-color: #f05123;
          }
        }
      }
    }
  }
  &__subtittle{
    text-align: right;
    text-transform: uppercase;
    color: #fff;
    h2{
      margin-top: 0;
    }
  }

  &--content{
    background-color: #f5f5f5;
    padding: 35px 0;
  }
  &__contleft{
    h3{
      text-transform: uppercase;
      text-shadow: 0 1px 0 rgba(255,255,255,.7);
      color: $color-orange;
      font-size: 16px;
    }
    .textcont{
      p{
        text-align: justify;
      }
    }
    .img-cont-gt{
      padding: 10px;
      margin-bottom: 15px;
    }
  }
  &__contimg{
    float: left;
    width: 210px;
    img{
      width: 100%;
      height: auto;
      border: 8px solid #fff;

    }
    .tittle-name{
      font-size: 12px;
      line-height: 17px;
      margin: 0;
      padding: 0 4px 5px;
    }
  }
  &__contright{
    .first-ul{
      margin-bottom: 20px;
      list-style: none;
      li{
        display: list-item;
        &:first-child{
          a{
            background-color: $color-orange;
            color: #fff;
          }
        }
        a{
          color: #444;
          display: block;
          padding: 10px 15px;
          margin-bottom: 3px;
          position: relative;
          background: rgba(0,0,0,0.1);
          border-radius: 2px;
          -webkit-transition: color .15s cubic-bezier(0.77,0,.175,1);
          transition: color .15s cubic-bezier(0.77,0,.175,1);
          overflow: hidden;

          &:hover{
            background-color: $color-orange;
            color: #fff;
          }
        }
      }
    }
  }
  &__slidebar{
    padding: 20px 15px;
    border-radius: 3px;
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0 10px 10px -10px rgba(0,0,0,.15);
    width: 100%;
    .slidebar-content{
      h3{
        color: #050505;
        line-height: 1.4;
        margin: 5px 0 10px;
        padding-bottom: 15px;
        position: relative;
        font-size: 14px;
        text-transform: uppercase;
        border-bottom: 1px solid #ececec;
      }
    }
    .ul-slide-bar{
      list-style: none;
      width: 100%;
      li{
        display: list-item;
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #e3e3e3;
        overflow: hidden;
        &:last-child{
          border-bottom: 0;
          padding-bottom: 0;
        }
        a.display-block{
          float: left;
          img{
            box-sizing: border-box;
            border-radius: 2px;
            position: relative;
            width: 54px;
            height: auto;
          }
        }
        .text-slidebar{
          float: right;
          width: 175px;
          padding-left: 10px;
          h4{
            font-size: 13px;
            font-weight: 600;
            line-height: 20px;
            margin: 0 0 5px;
            padding: 0;
            vertical-align: middle;
            &:hover{
              a{
                color: $color-orange;
              }
            }
          }
        }
      }
    }
  }

  &__itemul{
    h2{
      color: #171717;
    }
    ul{
      margin: 10px 0 20px;
      list-style: none;
      li{
        margin: 10px 0;
        display: list-item;
        .span-icon-li{
          display: inline-block;
          color: $color-orange;
          width: auto;
          height: auto;
          position: relative;
          text-align: center;
          -webkit-transition: all .2s ease-out;
          transition: all .2s ease-out;
          font-size: 14px;
          font-weight: normal;
          opacity: 1;
          vertical-align: middle;
          margin-right: 10px;

        }
      }
    }
  }
}

//GOVERNANCE
.governance{
  &--content{
    padding-top: 40px;
  }
  &--contimg{
    width: 100%;
    margin-bottom: 20px;
    img{
      width: 100%;
      height: auto;
    }
  }
  &--cont1{
    padding: 20px 0;
    .gover-item{
      margin-bottom: 35px;
      .item-img{
        float: left;
        margin-right: 20px;
        img{
          width: 36px;
          height: auto;

        }
      }
      .item-text{
        font-size: 13px;
      }
    }
  }
  &--cont2{
    table{
      background-color: #fff;
      width: 100%;
      th,td{
        padding: 8px;
        vertical-align: top;
      }
    }
  }
  &--cont3{
    margin-top: 20px;
    .cont3-item{
      line-height: 2;
      i{
        color: #858585;
        margin-right: 10px;
      }
    }
  }
  &--cont4{
    background-color: #fff;
    border: outset 4px #f05123;
    padding: 10px;
    margin-top: 40px;
    .gover-cont4-twobtn{
      margin: 20px 0 25px;
      .btn-gover-cont4{
        border: 2px solid;
        border-radius: 3px;
        padding: 20px 30px;
        font-size: 17px;
        font-weight: bold;
        text-transform: uppercase;
        display: block;
        width: 80%;
        margin: 0 auto;
        -webkit-transform: skewX(-8deg);
        transform: skewX(-8deg);

        p{
          -webkit-transform: skewX(8deg);
          transform: skewX(8deg);
          margin: 0;
        }
        &.btn-gover-cont41{
          border-color: $color-orange;
          background-color: $color-orange;
          color: #fff;
        }
      }
    }
  }
  &__contright{
    .first-ul-gover{
      margin-bottom: 20px;
      list-style: none;
      border-radius: 5px;
      border-top: 6px solid $color-orange;
      li{
        display: list-item;
        //border-radius: 2px;
        //border: 1px solid $color-orange;
        margin-bottom: 7px;
        margin-top: -1px;
        a{
          background-color: #fff;
          display: block;
          padding: 10px 15px;
          font-weight: 500;
          text-transform: uppercase;
          margin-bottom: 3px;
          position: relative;
          border: 1px #f60 solid;
          border-radius: 2px;
          overflow: hidden;
        }
        &:hover{
          a{
            background-color: $color-orange;
            color: #fff;
          }
        }
      }
    }
  }
}

//select student
.selectstu{
  &--form{
    position: absolute;
    top: 130px;
    left: 100px;
    z-index: 1;
    background-color: #fff;
    width: 350px;
    border-radius: 3px;
    border: 1px solid #f05123;
    h4{
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      background-color: #f05123;
      margin: 0;
      text-align: center;
      padding:10px 15px;
      color: #fff;
      font-weight: 500;
      font-size: 20px;
      margin-bottom: 15px;
    }
    p{
      //margin: 10px;
      text-align: center;
    }
    form{
      padding: 10px 40px 10px 25px;
      input{
        margin: 10px 0;
      }
      select{
        margin: 10px 0;
      }
    }
  }
  &--slide{
    width: 100%;
    img{
      width: 100%;
      height: auto;

    }
  }
  &--space{
    width: 100%;
    height: 60px;
    background-color: #ebebeb;
  }
  &--reason{
    padding: 20px 0;
  }
  &--suptittle{
    flex: 1;
    display: inline-block;
    p{
      text-align: center;
      font-weight: 700;
      font-size: 18px;
    }
  }
  &--h4tittle{
    text-align: center;
    color: $color-orange;
    font-size: 30px;
    padding-left: 20px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 15px 0;
  }
  &--recont{
    .reason-img{
      img{
        width: 100%;
        height: auto;
      }
    }
    ul{
      list-style: none;
      li{
        margin-bottom: 25px;
        display: list-item;
      }

    }
    .div-img{
      float: left;
      margin-right: 20px;
      img{
        max-width: 30px;
        height: auto;
      }
    }
    .div-text{
      text-align: justify;
      font-size: 13px;
      max-width: 80%;
      float: left;
    }
  }
  &--specialized{
    padding: 20px 0;
    background-color: #ebebeb;
    .specialized-item{
      .a-img{
        display: block;
        width: 100%;
        border: 3px solid transparent;
        &:hover{
          border-color: $color-orange;
        }
        img{
          max-width: 100%;
          height: auto;
          box-sizing: border-box;
          border-radius: 2px;
          width: 100%;
          position: relative;
        }
      }
      .a-text{
        h5{
          font-size: 18px;
          text-transform: uppercase;
        }
        h6{
          font-size: 14px;
          text-transform: uppercase;
          font-weight: 400;
        }
        p{
          margin: 5px 0;
        }
        &:hover{
          color: $color-orange;
        }
      }

    }
  }
  &--specitem{
    padding: 20px 0;
    .spect--img{
      margin: 25px 0;
      width: 100%;
      height: auto;
      img{
        width: 100%;
      }
    }

    h5.color-orange{
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    h6{
      margin-bottom: 15px;
      font-size: 16px;
      font-weight: 400;
    }

  }
  &__job{
    ul{
      padding: 0px 15px 10px;
      list-style: inside disc;
      li{
        display: list-item;
      }
    }
  }
  &__imgright{
    .img-right{
      width: 100%;
      img{
        width: 100%;
        height: auto;
      }
    }
  }
  &__mrboss{
    padding-top: 20px;
    .p-name{
      font-size: 12px;
    }
    .boss-content{
      background-color: #f05123;
      padding: 15px;
      color: #fff;
      font-size: 13px;
      position: relative;
      border-radius: 2px;
      margin-top: 5px;
      .img-user{
        width: 60px;
        height: 60px;
        position: absolute;
        top: -45px;
        right: -15px;
        img{
          width: 60px;
          height: 60px;
          border-radius: 50%;

        }
      }
      p{
        margin: 0;
      }
    }
    .boss-content:after {
      bottom: 100%;
      left: 13%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      //border-color: rgba(136, 183, 213, 0);
      border-bottom-color: #f05123;
      border-width: 8px;
      margin-left: -8px;
    }
  }

  &--patner{
    padding: 10px 0;
  }
  &__text{
    margin-top: 20px;
    float: left;
    width: 20%;
    font-size: 18px;
    text-transform: uppercase;
    color: #696969;
    .patner-border{
      background-color: #696969;
      width: 25%;
      height: 2px;
    }
  }
  &__paslide{
    float: left;
    width: 79%;
  }
}

.a-btn-dangky{
  margin: 25px 0 20px;
  a{
    display: block;
    width: 130px;
    margin: 0 auto;
    background-color: #f05123;
    -webkit-transform: skewX(-8deg);
    transform: skewX(-8deg);
    border-radius: 4px;
    padding: 10px;
    p{
      -webkit-transform: skewX(8deg);
      transform: skewX(8deg);
      color: #fff;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      margin: 0;
    }
  }

}