@import "mixin";
@import "variable";
.wrap-content{
  position: relative;
}

.header{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 105px;
  box-shadow: 0 3px 5px rgba(0,0,0,.1);
  width: 100%;
  border-top: 3px solid #f05123;
  background-color: hsla(0,0%,100%,.95);
  &--content{
    display: flex;
  }
  &__a{
    //display: table-cell;
    flex-basis: auto;
    flex-grow: 0;
    overflow: hidden;
    img{
      height: 105px;
      overflow: hidden;
      padding: 10px 0;
    }
  }
  &--menu{
    .first-row{
      align-items: center;
      height: 54px;
      .fl-end{
        align-items: center;
        height: 100%;
      }
      .text-name{
        font-size: 1.3em;
        font-weight: bold;
        color: #f60;
      }
      ul{
        li{
          font-size: 13px;
          margin: 0 10px;
        }
      }
    }
    .secon-row{
      height: 46px;
      .fl-end{
        align-items: center;
        height: 100%;
        .ul-menu{
          .li-menu{
            font-size: 13px;
            margin: 0;
            //padding: 5px 10px;
            &.li-menu-1{
              &:hover{
                .ul-sub-menu{
                  display: block;
                }
              }
            }
            &.li-menu-2{
              &:hover{
                .absolute{
                  display: block;
                }
              }
            }
            &:hover{
              .a-menu{
                background-color: $color-orange;
                color: #fff;
              }
            }
            &>a{
              text-transform: uppercase;
              padding: 5px 10px;
              .tip-arrow{
                color: #fff;
                font-size: 9px;
                padding: 2px;
                position: relative;
                line-height: 1;
                margin-left: 3px;
                border-radius: 2px;
                margin-right: 5px;
                &.tip-green{
                  background-color: #0cc485;
                }
                &.tip-red{
                  background-color: #eb2771;
                }

              }
            }
          }
          .li-icon-home{
            background-color: $color-orange;
            i{
              margin: 5px 0;
              color: #fff;
              font-size: 13px;
            }
          }
          .ul-sub-menu{
            //display: none;
            &.ul-sub-1{
              position: absolute;
              top: 25px;
              left: 0;
              display: none;
              min-width: 240px;
              padding: 5px 0;
              background-color: $color-orange;
              list-style: none;
              li{
                display: list-item;
                padding: 5px 12px;
                &:hover{
                  background-color: #e65d00;
                  a{
                    color: #333;
                  }
                }
                a{
                  color: #fff;
                  font-size: 13px;
                }
              }
            }
          }
          .container{
            &.absolute{
              width: 1140px;
              padding: 7px 0;
              display: none;
              .ul-sub-menu{
                position: relative;
                z-index: 99;
                //display: none;
                width: 100%;
                list-style: none;
                background-color: #e65d00;
                border-radius: 3px;
                box-shadow: 0px 0px 1px 1px #fff;
                color: #fff;
                &.bgc-white{
                  background-color: #fff;
                  box-shadow: 0px 0px 1px 1px #333;
                }
                &>li{
                  display: list-item;
                  list-style: none;
                  padding: 15px 15px;
                  color: #fff;
                  .ul-secon-sub{
                    position: relative;
                    li{
                      display: list-item;
                      box-sizing: content-box;
                      padding: 8px 0;
                      list-style: none;
                      color: #fff;
                      margin: 7px 0;
                      border-bottom: 2px solid #e65d00;
                      &:hover{
                        border-bottom-color: #797979;
                        a{

                          color: #fff;

                        }
                      }
                      &.border-bottom{
                        border-bottom: 2px solid #5d5d5d;
                      }
                      a{
                        display: block;
                        color: #fff;
                        font-size: 14px;
                        &.a-noti{
                          font-weight: 700;
                          text-transform: uppercase;
                          color: #000;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        a.signin{
          min-width: 95px;
          background-color: #f60;
          align-self: flex-end;
          position: relative;
          color: #fff;
          text-align: center;
          padding: 10px 0px 5px;
          border-radius: 2px;
          margin-left: 20px;
          z-index: 1;
          margin-bottom: -5px;
          span{
            color: #fff;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 16px;
          }
          p{
            margin-bottom: 0;
            font-size: 13px;
            font-weight: 500;
          }
          svg{
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 5px;
            path{
              fill: #f60;
            }
          }
        }
      }

    }
  }
}

.footer{
  padding-bottom: 30px;
  &--item{
    color: #fff;
    line-height: 1.7;
    h3{
      color: #fff;
      border-bottom: solid orange 2px;
      text-align: center;
      span{
        border-bottom: solid #fff 2px;
      }
    }
    p{
      margin-bottom: 0;
    }
  }
}