$color-orange: #f60;
.bgc-orange{
  background-color: $color-orange;
}
.color-orange{
  color: $color-orange;
}
$color-blue: #23a1f1;
.bgc-blue{
  background-color: $color-blue;
}
.color-blue{
  color: $color-blue;
}